@import './theme.scss';

.modal {
  overflow: auto;
}

.modal_header {
  color: $black;
  text-align: center;
}

.modal_text {
  color: $black;
  margin: 2rem;
  font-size: 1.5rem;
}

.modal_button {
  background: $green;
}

.gameRules {
  width: ;
}
